<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-clientes">
 <template>
   <style>
     :host {
       display: block;
       padding: 10px;
     }
   </style>

   <div class="container">
     <div class="row">
     <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="obtenerClientes">Obtener Posicion</button>
     </div>
     <div class="row">
       <table>
         <tbody>
           <template is="dom-repeat" items="{{clientes}}">
             <tr>
<<<<<<< HEAD
               <td>[[listado.precio]</td>
               <td>[[item]]</td>
               <td>[[item.item.titulos]]</td>
               <td>[[item.lisltado.item.precio]]</td>
=======
               <td>[[item.idcliente]]</td>
               <td>[[item.nombre]]</td>
               <td>[[item.apellidos]]</td>
>>>>>>> 8e45f70fc4f23e2a62b0fa064fd9f12a24ebcad3
             </tr>
           </template>
         </tbody>
       </table>
     </div>
   </div>

 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */

   class GestorClientes extends Polymer.Element {
     static get is() { return 'gestor-clientes'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify: true
         }
       };
     }
         obtenerClientes() {
       var request = new XMLHttpRequest();
<<<<<<< HEAD
       request.open("GET", "https://api.mlab.com/api/1/databases/bdbanca4m820873/collections/movimientos?apiKey=QgdaC09U9POTko2fpyLFhx5LYYMN4I7O&f={listado.precio:1, listado.titulos:1, listado.emisora:1, listado.serie:1}&q={nombre: 'Marco'}", false);
       request.setRequestHeader("Accept", "application/json");
       request.send();
//       console.log(request.responseText);
//       var cadena = request.responseText;
//       cadena= cadena.substring(1);
//       cadena = cadena.substring(0, cadena.length-1);
//       console.log(cadena);
//       for (i in cadena.listado) {
//       if ("Bmerliq" == cadena.listado[i].emisora){
//       x  =  myObj.listado[i].titulos;
//       alert ('titulos');
// }
//}
       this.clientes = JSON.parse(request.responseText);
//       String this.clientes=str.substring(1,srt.length()-1);
=======
       /**
        * antes del ejercicio
        * request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        */
       request.open("GET", "http://localhost:3002/movimientos", false);
       request.setRequestHeader("Accept", "application/json");
       request.send();
    // se elimkna la linea por que antes mandaba el value (la api de norwind)
    //   this.clientes = JSON.parse(request.responseText).value;
       this.clientes = JSON.parse(request.responseText);
>>>>>>> 8e45f70fc4f23e2a62b0fa064fd9f12a24ebcad3
       console.log(this.clientes);


            }
   }

   window.customElements.define(GestorClientes.is, GestorClientes);
 </script>
</dom-module>
