body {
  margin: 0;
  padding: 0;
  background: "/src/img/bg.jpg" no-repeat center top;
   background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.nombre
{
  opacity: 0.5;
}
.usuario{
  margin: 0;
  padding: 0 0 5px;
  text-align: center;
  font-size: 22px;
}
.login-box {
  width: 320px;
  height: 420px;
  background:   #485D72;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -80px;
  left: calc(50% - 80px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;

}

.login-box input {
  width: 100%;
  margin-bottom: 20px;

}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #27CAEE;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #008080;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
  text-align: center;
}

.login-box a:hover {
  color: #fff;
}


.nav_bar {
  margin: auto;
  border-bottom: 1px solid #000000;
  width: 760px;
  padding: 0px 15px 0px 15px;
  height: 64px;
  margin-top: 30px;
}

.nav_bar ul {
  padding: 0;
  list-style: none;
}

.nav_bar ul li{
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.nav_bar ul li input {
  text-decoration: none;
  color: #000000;
  background: #6bd1e4;
  border: 1px solid #000000;
  border-bottom: none;
  padding: 23px 20px 23px 20px;
  -webkit-border-top-right-radius:10px;
  -webkit-border-top-left-radius:10px;
  -moz-border-radius-topleft:10px;
  -moz-border-radius-topright:10px;
  width: 140px;
  display: block;
}

.nav_bar ul li input:hover {
  text-decoration: none;
  color: #000000;
  background: #96e0e9;
  -moz-transition: background-color 200ms ese-in;
  -webkit-transition: background_color 200ms ese-in;
  -ms-transition: background_color 200ms ese-in;
  -o-transition: background-color 200ms ese-in;
}

.nav_bar ul li input#onlink{
  background: #ffffff;
  color: #000000;
  border-bottom: 1px solid #ffffff;
}

.nav_bar ul li input#onlink:hover{
  background: #ffffff;
  color: #000000;
}

.main_container{
  margin: auto;
  width: 860px;
  padding: 20px;
  border: 1px solid #000000;
  min-height: 400px;
  border-top: none;
  background: #ffffff;
}

.formulario {
  width: 400px;
  height: 530px;
  background:   #485D72;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.formulario .centrado {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -80px;
  left: calc(50% - 80px);
}

.formulario h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.formulario label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;

}

.formulario input {
  width: 100%;
  margin-bottom: 20px;

}

.formulario input[type="text"], .formulario input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.formulario input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #27CAEE;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.lformulario input[type="submit"]:hover {
  cursor: pointer;
  background: #008080;
  color: #000;
}

.formulario a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
  text-align: center;
}

.formulario a:hover {
  color: #fff;
}

.formulario2 {
text-align: center;
}

.formulario2 label {
text-align: center;

}

.formulario2 input {
text-align: center;

}

.formilario2 select{
text-align: center;
}

table.imagetable {
  text-align: center;
   font-family: sans-serif;
  font-size:15px;
  color:white;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
}
table.imagetable th {
  text-align: center;
  background:#6e9e2d url('cell-blue.jpg');
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}
table.imagetable td {
  text-align: center;
  background:#b5cfd2 url('cell-grey.jpg');
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #999999;
}

.main_container{
text-align: center;

}
